.item-sidepanel-images {
  width: 20%;
  height: 100%;
  color: #333;
  background: white;
}

.sidepanel-entry-images {
  width: 75%;
  height: 75%;
  padding-top: 0%;
  background: white ;
  cursor: pointer;
  margin: auto;
}

.sidepanel-entry-images {
  width: 75%;
  height: 75%;
}
.slick-slide img {
  margin: auto;

}
