.add-button {
  position: absolute;
  bottom: 3.75%;
  right: 2%;
}
.add-button-2 {
  position: absolute;
  bottom: 20%;
  right: 2%;
}

.btn {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;

  color: #fff;
  background-color: #cc0000;
}
Button.btn:hover {
  color: #000;
  background-color: #eeeeee;
}
Button.btn:focus {
   outline: none !important;
}
Button.btn:active {
  outline: none !important;
}
